html, body{
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
	background-color: rgb(122, 199, 246);
}

.header{
	background-color: rgb(221, 18, 52);
	padding: 6vh;
	text-align: center;
	margin-bottom: 30px;
}

.filter{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.filter a{
	text-decoration: none;
	padding: 13.4px;
	border: 2px solid rgb(0, 82, 133);
	border-radius: 45px;
	margin-right: 10px;
	color: black;
	background-color: rgb(47,173,253);
}

.filter a:hover{
	background-color: rgb(0, 130, 211);
}

form{
	display: flex;
	align-items: center;
}

form #search-bar{
	height: 45px;
	border-radius: 45px;
	margin-right: 6px;
	border: 2px solid rgb(0, 82, 133);
}

form button{
	height: 51px;
	width: 51px;
	background-color: transparent;
	border: transparent;
	font-size: 1.9rem;
	color: rgb(0, 82, 133);;
}

form button{
	height: 51px;
	width: 51px;
	background-color: transparent;
	border: transparent;
	font-size: 1.9rem;
	color: rgb(0, 82, 133);;
}

.poke-card{
	display: grid;
	grid-template-rows: 200px 1fr;
	justify-content: center;
	border: 2px solid rgb(0, 82, 133);
	border-radius: 30px;
	box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.416);
	margin: 10px;
	overflow: hidden;
	background-color: rgb(47,173,253);
}

.poke-card:hover{
	transform: translate(-9px, -9px);
	box-shadow: 10px 10px 7px rgba(128, 128, 128, 0.252);
}

.poke-img img{
	height: 80%;
	padding-top: 25px;
}

.poke-name{
	text-align: center;
}

.poke-name h3{
	font-size: 23px;
}

.pokemons{
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	/* grid-template-rows: ; */
	justify-content: center;
}

.no-results{
	display: flex;
	justify-content: center;
}

.border{
	border: 1px solid red;
}
